{
  "defaultVertexStyle": {
    "fontFamily": "Lucida Console",
    "fontSize": 14,
    "strokeColor": "#b2bdc7",
    "strokeWidth": 2,
    "rounded": 1,
    "shadow": 1,
    "arcSize": 5
  },
  "defaultEdgeStyle": {
    "fontFamily": "Lucida Console",
    "fontSize": 14,
    "strokeColor": "#788896",
    "strokeWidth": 2,
    "edgeStyle": "orthogonalEdgeStyle",
    "endArrow": "block"
  }
}
